* {
  /* --color-light: #f8ede3;
  --color-med: #dfd3c3;
  --color-text: #b57491;
  --color-dark: #85586f; */

  /* --color-text: #f2eee0;
  --color-med: #c8e6f5;
  --color-dark: #5ca0d3;
  --color-light: #5e0a0a; */

  --color-med: #dddddd;
  --color-text: #dddddd;
  --color-dark: #000000;
  --color-light: #565656;
  --color-link: #3f4e4f;
  --color-white: #dddddd;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-med);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark);
}

.container {
  height: auto;
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3vh;
  background: var(--color-light);
  padding: 2em 0 0 0;
}

.intro-container {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1em;
}

.intro {
  font-size: 36px;
}

.back-arrow {
  position: absolute;
  top: 5%;
  left: 3%;
  width: 20px;
  height: 40px;
  border-radius: 16px;
  font-size: 2em;
  color: var(--color-white);
}
.link {
  color: var(--color-dark);
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
  width: 40%;
  min-width: 400px;
}
.links-row {
  display: flex;
  width: 40%;
  gap: 15%;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 3em;
  padding: 1em 0 0 0;
}

.link-icon {
  color: var(--color-white);
}

@media (max-width: 1200px) {
  .container {
    padding: 24px;
    display: flex;
    height: auto;
  }

  .intro-container {
    padding: 48px;
  }

  .images-container {
    width: 80%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin-left: auto;
    margin-right: auto;
  }
  .ambigrams {
    width: 90%;
  }

  .title {
    align-self: center;
  }
}

@media (max-width: 700px) {
  .images-container {
    gap: 3em;
  }
  .ambigrams {
    width: 100%;
  }
}
